*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}
body{
	color: #fff;
	font-size: 15pt;
	text-align: center;
	background-color: #124;
	font-family: Arial, sans-serif;
}
header{
	margin: 15px auto;
}
section{
	color: #124;
	padding: 15px;
	max-width: 500px;
	margin: 15px auto;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 5px 5px 5px #673ab7;

}
.cenas{
	width: 250px;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}
.item{
	margin: 15px 0;
	padding: 10px 0;
	transition: 0.5s;
}

input{
	border:none;
	font-size: 1.2em;
	transition: 0.5s;
	border-bottom: 1px solid #000;
}
input:hover{
	color: #673ab7;
	border-bottom-width: 4px;
	border-bottom-color: #673ab7;
}
button{
	color: #fff;
	font-size: 1em;
	cursor: pointer;
	transition: 0.5s;
	border-radius: 5px;
	background-color: #124;
}
button:hover{
	background-color: #673ab7;
}
#res{
	text-align: left;
}
footer{
	font-style: italic;
}
#foto{
	border-radius: 300px;
	border: 2px solid #673ab7;
}