*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	font-family: Arial, sans-serif;
}
body{
	color: #ccc;
	background-color: #000;
}
b{
	color: #ce2929;
}
i{
	color: #4CAF50;
}
.container{
	height: 300px;
	display: flex;
	padding: 10px;
	max-width: 500px;
	margin: 20px auto;
	border-radius: 5px;
	align-items: center;
	flex-direction: column;
	background-color: #124;
}
.conteudos{
	margin: 60px 0;
	display: flex;
	flex-direction: column;
}
.title{
	width: 100%;
	padding: 5px;
	font-size: 1.8em;
	text-align: center;
	border: 2px dashed #fff;
}
input{
	color: #fff;
	width: 300px;
	padding: 10px;
	font-size: 1.2em;
	border: 1px solid #fff;
	background: transparent;
}
button{
	width: 322px;
	padding: 10px;
	transition: 1s;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-color: #fff;
}
button:hover{
	color: #fff;
	background-color: #135;	
	border: 1px solid #fff;
	border-top: 0;
}