*{
	outline: none;
}
body{
	color: #fff;
	background-color: #234;
	font-family: Arial, sans-serif;
}
b{
	color: green;
	font-size: 1.1em;
}
h1{
	color: #9E9E9E;
	
}
p{
	font-style: italic;
	text-align: center;

}
.container{
	display: flex;
	max-width: 400px;
	margin: 20px auto;
	padding: 10px 20px; 
	border-radius: 4px;
	min-height: 300px;
	align-items: center;
	flex-direction: column;
	background-color: #263a4e;
}
.item{
	color: #fff;
	padding: 10px;
	transition: 0.5s;
	border-radius: 4px;
	margin-bottom: 5px;
	border: 1px solid #3c5064;
	background-color: transparent;
}
.item:hover{
	background-color: #234;
}
.btn{
	width: 190px;
	margin: 10px 0;
	color: #9E9E9E;
	cursor: pointer;
	transition: 0.5s;
	border: 1px solid #3c5064;
	background-color: #2d455d;
}
.btn:hover{
	color: #fff;
	background-color: #234;
}
.res{
	padding: 5px;
	width: 180px;
	display: none;
	color: #9e9e9e;
	font-size: 1em;
	max-height: 250px;
	overflow-x: hidden;
	border-radius: 4px;
	scroll-behavior:auto;
	border: 1px solid #3c5064;
	background-color: transparent;

}
::-webkit-scrollbar{
	background: #263a4e;
	border: 1px solid #3c5064;
}
::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-right: 0;
	background: #23374c;
	border: 1px solid #3c5064;
}
.res2{
	padding: 5px;
	width: 350px;
	display: none;
	color: #46688b;
	font-size: 1.2em;
	max-height: 400px;
	overflow-x: hidden;
	border-radius: 4px;


}
#btn2{
	display: none;
}