/**/
body{
    color: #fff;
    font-size: 1.5em;
    background-color: #124;
    font-family: Arial, sans-serif;
}
div#area{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    cursor: pointer;
    line-height: 200px;
    text-align: center;
    border-radius: 10px;
    background-color: #135;
    border: 2px solid #ccc;
}