*{
	outline: none;
}
body{
	color: #fff;
	background-color: #234;
	font-family: Arial, sans-serif;
}
h1{
	color: #9E9E9E;
	
}
p{
	font-style: italic;
	text-align: center;

}
.container{
	display: flex;
	max-width: 400px;
	margin: 20px auto;
	padding: 10px 20px; 
	border-radius: 4px;
	min-height: 300px;
	align-items: center;
	flex-direction: column;
	background-color: #263a4e;
}
.item{
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 5px;
	border: 1px solid #3c5064;
	background-color: transparent;
}
.btn{
	color: #fff;
	width: 190px;
	cursor: pointer;
	transition: 0.5s;
	border: 1px solid #3c5064;
	background-color: #2d455d;
}
.btn:hover{
	color: #fff;
	background-color: #234;
}
.res{
	padding: 5px;
	width: 180px;
	color: #46688b;
	font-size: 1.2em;
	max-height: 300px;
	overflow-x: hidden;
	border-radius: 4px;
	scroll-behavior:auto;
	border: 1px solid #3c5064;
	background-color: transparent;

}